$light: #FFF;
$black: #000;
$black-200: #222222;
$dark: #2C3D39;
$secondary: #627B7A;
$primary: #418AF2;
$error: #E61610;
$success: #7AB10E;

$main-font: Roboto;

$base-ui-transition: .3s ease;

$lg-breakpoint: 1280px;
$md-breakpoint: 720px;
$sm-breakpoint: 400px;